.navbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .back-button {
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: $background-dark;
  }
  .title {
    padding: 0px 20px;
    flex: 1;
    h6 {
      display: inline-block;
      padding-bottom: 5px;
      position: relative;
      font-weight: 400;
      padding: 5px 10px;
    }
    h6.current:before {
      content: "";
      position: absolute;
      width: 70%;
      height: 1px;
      bottom: 0;
      left: 15%;
      border-bottom: 2px solid $black;
    }
  }
  .studentName {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    font-weight: 400;
    padding-right: 20px;
    padding-left: 20px;
    &:before {
      content: "";
      position: absolute;
      width: 60%;
      height: 1px;
      bottom: 0;
      left: 20%;
      border-bottom: 2px solid $black;
    }
  }
}
